.Header{
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: end;
    align-items: center;
}

.Btns_header{
    width: 7%;
    height: 5vh;

    margin: 1vw 1vw;

    font-size: 1.2vw;
    color: rgb(253, 215, 2);

    border-radius: 0.3vw;
    background-color: #00000060;
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 1);

    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    transition: all 0.2s ease-in-out;

    &:hover{
        transform: scale(1.05);
    }
}