.ButtonText {
    width: 100%;
    height: 5vh;

    background-color: rgb(253, 215, 2);
    border-radius: 0.2vw;
    border: none;

    color: black;
    font-size: 1vw;

    cursor: pointer;
    transition: all 0.1s ease-in-out;

    &:hover {
        transform: scale(1.02);
        
    }
}