.TextNavigation{
    background-color: transparent;
    border: none;
    
    color: rgb(255, 255, 255);
    font-size: 0.8vw;

    cursor: pointer;
    transition: all 0.1s ease-in-out;
    

    &:hover{
        transform: scale(1.02);
    }

    
}